name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '3.2', '3.3', '3.4' ]
        task: [ 'spec' ]
        gemfile: [ 'Gemfile', 'gemfiles/minitest5.gemfile' ]
        include:
        - ruby: 3.2 # keep in sync with the lowest ruby version, .rubocop.yml, single_cov.gemspec
          task: rubocop
          gemfile: Gemfile
    name: ${{ matrix.ruby }}+${{ matrix.gemfile }} rake ${{ matrix.task }}
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - run: bundle exec rake ${{ matrix.task }}
